@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: #020E24;
  color: white;
}

.dark>.darkText {
  color: rgb(38, 99, 151);
}

body {
  background-color: white;
  color: #020E24;
}

.form:focus .mobilehidden {
  position: static;
}

.home-links {
  animation: fadeInAnimationLinks ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-header-caption {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimationLinks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}